body{
    font-family:lexend;
}


* {
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
    font-family: lexend;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    font-family: lexend;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
textarea{
    width: 100%;
    border: none;
    background:none;
    font-family: lexend;

}
.h2{
    margin: 0;
}
/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    margin-bottom: 5px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    margin: 10px 0;
    width: 500px;
    margin-left: 115px;
    height: 120px;

}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
    width: 500px;
    margin-left: 725px;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.respon {
    margin-bottom: 12px;
}

.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Style time text */
.time-right {
    float: right;
    color: rgba(0, 0, 0, 0.75);
}

/* Style time text */
.time-left {
    float: left;
    color: rgba(0, 0, 0, 0.75);
}
.kembali{
    text-decoration: none;
    color: rgb(4, 0, 255);
    font-size: 15px;
    margin-left: 111px;
    font-weight: bold;
}
.kembali:hover{
    color: black;
}
.h3{
    margin-bottom: 0;
}

/* 
.footer {
    margin-top:20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
}

.inputchat {
    margin-left: 20%;
    width: 50%;
}

.buttonchat {
    position: absolute;
    top: 0;
    margin-left: 70%;
}

.mb {
    margin-bottom: 3.7%;
}
button{
    color: white;
    font-family: lexend;
    background:rgb(1, 172, 66);
    border:1px solid rgb(1, 172, 66);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius:3px;
    width:75px;
    height:30px;
    margin-top:5px;
    transition: 0.2s;
}
button:hover{
    color:rgb(1, 172, 66);
    background:none;
}
.mb {
    margin-bottom: 3.7%;
}
h3 {
    font-size: 20px;
    color:rgb(0, 102, 255)
}
h2 {
    font-size: 20px;
    color: rgb(0, 150, 35)
}
p {
    font-size: 17px;
}

.mb {
    margin-bottom: 3.7%;
}

textarea {
    width: 95%;
    height:60px;
    margin-top:5px;
}
.back{
    color: white;
    background:rgb(4, 0, 255);
    text-decoration: none;
} */
/* Chat containers
.container {
    border: 1px solid rgb(115, 115, 115);
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px 0;
    width: 50%;
}

Darker chat container
.darker {
    border-color: #ccc;
    background-color: #ddd;
    width: 50%;
    margin-left: 640px
}

Clear floats
.container::after {
    content: "";
    clear: both;
    display: table;
}

Style images
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

Style the right image
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.respon {
    margin-bottom: 12px;
}

.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

Style time text
.time-right {
    float: right;
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
}

Style time text
.time-left {
    float: left;
    color: #999;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
}

.inputchat {
    margin-left: 20%;
    width: 50%;
}

.buttonchat {
    position: absolute;
    top: 0;
    margin-left: 70%;
}
h2{
    font-size: 20px;
}
p{
    font-size:17px;
}
.mb {
    margin-bottom: 3.7%;
}
textarea{
    width:90%;
} */